<%- include('_layouts/headerFront') -%>

<section id="main" class="bg">
  <div class="bg-wrap">
    <figure>
      <!-- <img src="/images_saved/<%= main.pageimage %>" alt="<%= main.pageimage %>"> -->
    </figure>
    <article>
      <!-- <h2><%= main.title %></h2> -->
      <h2><%= main.subtitle %></h2>
      <p class="main-para"><%- main.summary %></p>
      <!-- <a href="#" class="btn-pages">More information</a> -->
    </article>
    <a href="#" class="btn-top">top</a>
  </div>
</section>

<%- include('_layouts/footerFront') -%>